<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    datos
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style type="text/css">
    button {
      border: 1px solid rgba(0, 0, 0, 0);
      margin: 0 10px;
    }

    table,
    th,
    td,
    button:hover {
      border: 1px solid black;
    }
  </style>
</head>

<body>

  <div id="contenedor">

    <h1>
      Bienvenido {{ user }}
    </h1>

    <button @click="render = false">
      Añadir usuario
    </button>
    <button @click="render = true">Mostrar Usuarios</button>

    <br>

    <table v-if="render" class="container-fluid">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Name
          </th>
          <th>
            Username
          </th>
          <th>
            Email
          </th>
          <th>
            Phone
          </th>
          <th>
            website
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>

      <tbody>

        <tr v-for="u in users">
          <th>
            {{ u.id }}
          </th>
          <th>
            {{ u.name }}
          </th>
          <th>
            {{ u.username }}
          </th>
          <th>
            {{ u.email }}
          </th>
          <th>
            {{ u.phone }}
          </th>
          <th>
            {{ u.website }}
          </th>
          <th>
            <div class="d-grid gap-2">
              <button class="btn btn-success" @click="set(u)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Edit
              </button>
              <button class="btn btn-danger" v-on:click.prevent="deleteElement(u)">
                Delete
              </button>
            </div>
          </th>
        </tr>

      </tbody>

      <tfoot>
        <tr>
          <th>
            #
          </th>
          <th>
            Name
          </th>
          <th>
            Username
          </th>
          <th>
            Email
          </th>
          <th>
            Phone
          </th>
          <th>
            website
          </th>
          <th>
            Actions
          </th>
        </tr>
      </tfoot>
    </table>

    <div v-else>
      <form>
        <fieldset>
          <legend>
            Nuevo Usuario
          </legend>

          <label class="form-label">
            Name
          </label>
          <input class="form-control" type="text" v-model="name" name="name">

          <label class="form-label">
            Username
          </label>
          <input class="form-control" type="text" v-model="username" name="username">

          <label class="form-label">
            email
          </label>
          <input class="form-control" type="text" v-model="email" name="email">

          <label class="form-label">
            phone
          </label>
          <input class="form-control" type="text" v-model="phone" name="phone">

          <label class="form-label">
            website
          </label>
          <input class="form-control" type="text" v-model="website" name="website">

          <label class="form-label">
            Password
          </label>
          <input class="form-control" type="text" v-model="password" name="password">

          <button @click="insert" v-on:click="render = !render">
            Guardar
          </button>
          <button @click="clear()" @click="render = !render">
            Cancelar
          </button>
        </fieldset>
      </form>
    </div>

    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button> -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label class="form-label">
              Name
            </label>
            <input class="form-control" type="text" v-model="name">

            <label class="form-label">
              Username
            </label>
            <input class="form-control" type="text" v-model="username">

            <label class="form-label">
              email
            </label>
            <input class="form-control" type="text" v-model="email">

            <label class="form-label">
              phone
            </label>
            <input class="form-control" type="text" v-model="phone">

            <label class="form-label">
              website
            </label>
            <input class="form-control" type="text" v-model="website">

            <label class="form-label">
              Password
            </label>
            <input class="form-control" type="text" v-model="password">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="clear()" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="edit(element)" data-bs-dismiss="modal">Save
              changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    const { createApp } = Vue

    const app = createApp({
      data() {
        return {
          user: '',
          users: null,
          render: true,
          name: null,
          username: null,
          email: null,
          phone: null,
          website: null,
          password: null,
          btnLetter: 'Edit',
          editable: false,
          element: null
        }
      },
      methods: {
        deleteElement(e) {
          this.users = this.users.filter(y => { return y != e })
        },
        clear() {
          name = ''
          username = ''
          email = ''
          phone = ''
          website = ''
          password = ''
        },
        insert(e) {
          e.preventDefault()
          const newUser = {
            id: this.users.length + 1,
            name: this.name,
            username: this.username,
            email: this.email,
            phone: this.phone,
            website: this.website,
            password: this.password
          }
          this.users.push(newUser)
        },
        set(e) {
          this.element = e
        },
        edit(e) {
          this.users = this.users.map(o => {
            const newUser = {
              id: o.id,
              name: this.name,
              username: this.username,
              email: this.email,
              phone: this.phone,
              website: this.website,
              password: this.password
            }
            if (o.id === e.id) o = newUser
            return o
          })
        }
      },
      mounted() {

        var usr = localStorage.getItem('user');
        usr = JSON.parse(usr);
        this.user = usr.name;

        fetch('data/users.json')
          .then((res) => res.json())
          .then((json) => (this.users = json))
          .catch((err) => (alert('no data')))
      }
    }).mount('#contenedor')

  </script>
</body>

</html>